/* FeedbackForm.css */

.popup-container {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    width: 300px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .feedback-form {
    text-align: center;
  }
  
  .close-btn {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    
  }
  
  input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #267bb5;
  }
  